.App {
  text-align: center;
}

.scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.flag {
  img {
    height: 25px;
  }
}

.red-flag {
  color: red;
}

.blue-flag {
  color: blue
}
